<!-- <ng-container *ngIf="dataLoaded == true">
<m-table [value]=tableData *ngIf=tableData >
    <m-column field="title" header="Title"></m-column>
      <m-column field="status" header="Status"></m-column>
      <m-column field="reporter" header="Reporter"></m-column>
      <m-column field="date" header="Date"></m-column>
</m-table>
</ng-container> -->
<div class="row">
  <div class="col-md-3">

    <div class="form-group">
      <label class="labelInput">Start Date</label>

  <input [(ngModel)]="startDate"
     #start="ngModel" name="start" 
    class="form-control" (ngModelChange)="setEndDate($event)" 
    placeholder="Start Date"
   [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1" required>
   <owl-date-time #dtPicker1 [pickerType]="'calendar'"></owl-date-time>
   
  </div>

  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label for="date" class="labelInput">End Date</label>
      <input [(ngModel)]="endDate"
       #end="ngModel" name="end" 
      class="form-control" placeholder="End Date" (ngModelChange)="checkdate($event)"
      [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2" required>
      <owl-date-time #dtPicker2 [pickerType]="'calendar'"></owl-date-time>
    </div>
   
  </div>

  <div class="col-md-6 d-flex justify-content-between searchBtn">
    <div class="form-group justify-content-start"> 
      <button class="form-control" (click)="searchTask()">Search</button> 
    </div>

    <div class="form-group justify-content-end">
      <select class="form-control">
        <option>My Tasks</option>
        <option>All</option>
      </select>
    </div>
  
  </div>

</div>
<div class="dataTable">
<m-table *ngIf="dataLoaded" [value]=tableData 
[sortField]="'sl'" [sortOrder]="1" (onSort)="changeSort($event)"
         (onRowClick)="rowClick($event)"
         [selectable]="false" [selectionMode]="'multiple'" [selectionHandler]="false" (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnselect($event)" (selectionChange)="onSelectionChange($event)" [(selection)]="selectedRows"
         [expandable]="true" [expandMultiple]="false" (onRowExpand)="rowExpanded($event)" (onRowCollapse)="rowCollapse($event)"
         (onEditComplete)="editComplete($event)" (onEditInit)="editInit($event)" (onEdit)="edit($event)" (onEditCancel)="editCancel($event)"
          (onFilter)="onFilter($event)"
         (onReload)="tableReload()" (onPage)="onPage($event)">
         <m-header title="Tasks"  [globalSearch]="true" [colSetting]="true" [reload]="false" [export]="false">
          <!--<ng-template let-header>-->
          <!--<div>-->
          <!--<button>Hello</button>-->
          <!--</div>-->
          <!--</ng-template>-->
        </m-header>

  <m-column field="sl" [sortable]="true"  header="Sl."></m-column>
  <m-column field="title" [sortable]="true"  header="Title"></m-column>
  <m-column field="status" [sortable]="true" header="Status" editable="true">

    <ng-template let-col let-row="row" mTemplate="editor">
     <div class="form-group pt-2">
      <select class="form-control" [(ngModel)]="statusInput" #status="ngModel" name=status (change)="updateData($event.target.value,'status',$event)">
        <option>Pending</option>
        <option>Done</option>
      </select>
     </div>
     
    </ng-template>

  </m-column>
  <m-column field="reporter" [sortable]="true" header="Reported By"></m-column>
  <m-column field="date" [sortable]="true" header="Reported Date"></m-column>


  <ng-template let-row let-index="rowIndex" mTemplate="expansion">
    <div class="container-fluid rowExpansion">
  
   <div class="row pt-2">
    <div class="col-md-12">
      <div class="form-group">
        <label for="assignee" class="dataTitle">Assignee :</label>
      <div class="ng-autocomplete">
        <ng-autocomplete #ngAutoCompleteStatic
                         [data]="userArray"
                         name="name"
                         (selected)="updateData($event,'assignee',hiddenId)"
                         [(ngModel)]="taskAssignee"
                         [initialValue]="assigneeEdit"
                         [placeHolder]="placeholder"
                         [searchKeyword]="keyword"
                         [itemTemplate]="itemTemplateStatic"
                         [notFoundTemplate]="notFoundTemplate" 
                         required
                        >
        </ng-autocomplete>
        
        <ng-template #notFoundTemplate let-item>
         user not found
       </ng-template>
       
        <ng-template #itemTemplateStatic let-item>
          <a [innerHTML]="item"></a>
        </ng-template>
        </div>
  </div></div>
   
  
  </div>

  <div class="row pt-2">
    <div class="col-md-6"> <span class="dataTitle">Committed On :</span>{{committedOn}}</div>
    <div class="col-md-6"><span class="dataTitle">Completed On : {{completedOn}}</span></div>
  </div>

  <div class="row pt-2">
    <div class="col-md-12"><span class="dataTitle">Description :</span> {{description}} </div>
   
  </div>

  <div class="row pt-2">
    <div class="col-md-12"> <span class="dataTitle">Comments : 
      <div class="row pt-2" *ngFor="let data of comments;let i = index">
            <div class="col-md-5">
              {{i+1}}
              <span class="ml-2"><b>{{data.comment}}</b></span>
            </div>

            <div class="col-md-5">
              Commented By :<br>
              <b> {{data.commentBy}} </b>
            </div>
 
      </div>  

    </span> </div>
  </div>

  <div class="row pt-2">
    <div class="col-md-12"><span class="dataTitle">Add New Comments : </span>

      <div class="form-group">
        <textarea class="form-control" 
          [(ngModel)]="newCommentInput" 
          #newComment="ngModel" name="newComment" 
          (change)="updateData($event.target.value,'comment',hiddenId)">
        </textarea>
      </div>

    </div>
  </div>

  <input type="hidden" [(ngModel)]="hiddenId" #id="ngModel" name="id">
  </div>

  </ng-template>

  <ng-template mTemplate="emptyTable">
    {{emptyMsg}}
  </ng-template>
  <m-footer [paginator]="true"></m-footer>
</m-table>
</div>