<div class="newEvent-form">
    
   
       <form action="" #newIssueForm="ngForm" (ngSubmit)="submitNewTask(newIssueForm)" class="justify-content-center">
           <div class="form-group">
             <label for="title" class="labelInput">Title</label>
               <input type="text" [(ngModel)]="taskTitle" name="title" #title="ngModel" (change)="updateIssueData($event.target.value,'title')" class="form-control" placeholder="Title" required>
               <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger text-left">
                   <div *ngIf="title.errors.required">
                       title is required.
                     </div>
               </div>
           </div> 
   
          
           <div class="form-group">
             <label for="Description" class="labelInput">Description</label>
             
            <textarea class="form-control" [(ngModel)]="taskDescr" name="descr" #descr="ngModel" (change)="updateIssueData($event,'description')" placeholder="Description"></textarea>
            
           </div>
   
           <div class="form-group">
             <label for="status" class="labelInput">Status</label>
            <select [(ngModel)]="status" name="status1" [value]="Pendings" #status1="ngModel" class="form-control" (change)="updateIssueData($event.target.value,'status')">
             <option *ngFor="let stat of statusArray" [value]="stat">{{stat}}</option>
            </select>
             <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger text-left">
                 <div *ngIf="title.errors.required">
                     Status is required.
                   </div>
             </div>
           </div>
   
           <div class="form-group">
               <label for="assignee" class="dataTitle">Choose Assignee</label>
               <div class="ng-autocomplete">
                 <ng-autocomplete #ngAutoCompleteStatic
                                  [data]="userArray"
                                  name="name"
                                  (selected)="updateIssueData($event,'assignee')"
                                  [(ngModel)]="taskAssignee"
                                  [initialValue]="assigneeEdit"
                                  [placeHolder]="placeholder"
                                  [searchKeyword]="keyword"
                                  [itemTemplate]="itemTemplateStatic"
                                  [notFoundTemplate]="notFoundTemplate" 
                                  required
                                 >
                 </ng-autocomplete>
                 
                 <ng-template #notFoundTemplate let-item>
                  user not found
                </ng-template>
                
                 <ng-template #itemTemplateStatic let-item>
                   <a [innerHTML]="item"></a>
                 </ng-template>
               </div>
           </div>

   
        <div class="form-group">
            <label class="sr-only">Reported Date</label>

        <input [(ngModel)]="reportedDate" [min]="minDate" [max]="maxDate" readonly #reported="ngModel" name="reported" class="form-control" (ngModelChange)="setEndDate(startDate)" placeholder="Reported Date"
         [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1" required>
         <owl-date-time #dtPicker1></owl-date-time>
         
        </div>


       <div class="form-group">
        <label for="date" class="labelInput">Commited Date</label>
        <input [(ngModel)]="committedDate" [min]="minComDate" [max]="maxDate" readonly #committed="ngModel" name="committed" class="form-control" (ngModelChange)="setEndDate(startDate)" placeholder="Committed Date"
        [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2" required>
        <owl-date-time #dtPicker2 ></owl-date-time>
    </div>

   
   
       <ng-template [ngIf]="viewMode === 'edit'">
         <h5 class="labelInput">Comments</h5>
         <ng-container *ngFor="let comment of comments">
           <div class="row commentWrapper">
             <div class="col-sm-12 commentBody">{{comment.comment}}</div>
             <div class="col-sm-12 commentDetails">Commented by : {{getUsername(comment.commentBy)}}</div>
             <div class="col-sm-6 commentDetails">Date : {{comment.date | date:'medium' }}</div>
             <div class="col-sm-6 text-right" *ngIf="comment.commentBy == loggedUserData.userId"><a href="#" class="deleteCommment" (click)="deleteComment($event,comment.id)"><fa-icon class="iconStyle" [icon]="faTrash"></fa-icon></a></div>
           </div>
           <!-- <div class="commentWrapper">
           <div class="commentBody"></div>
           <div class="commentDetails"><span></span><span></span></div>
         </div> -->
         </ng-container>
        
         <div class="form-group">
           <label for="comment" class="labelInput">add comment</label>
           <textarea class="form-control" [(ngModel)]="commentInput" name="comment" #comment="ngModel" (change)="updateIssueData($event.target.value,'comments')" placeholder="Comments"></textarea>
       </div>
       </ng-template>
   
       <ng-template [ngIf]="viewMode == 'edit'">
         <h5 class="labelInput">Watchers List</h5>
         <ng-container *ngFor="let user of watcher">
           <div class="row commentWrapper">
             <div class="col-sm-12 commentDetails">{{getUsername(user)}}</div>
             <!-- <div class="col-sm-6 text-right" *ngIf="comment.commentBy == loggedUserData.userId"><a href="#" class="deleteCommment" (click)="deleteComment($event,comment.id)"><fa-icon class="iconStyle" [icon]="faTrash"></fa-icon></a></div> -->
           </div>
           <!-- <div class="commentWrapper">
           <div class="commentBody"></div>
           <div class="commentDetails"><span></span><span></span></div>
         </div> -->
         </ng-container>
         <button type="button" [disabled]="alreadyInWatcherList" *ngIf="viewMode == 'edit'" (click)="updateIssueData('watcher','watcher')"  class="btn mt-2 ml-4">Watch</button>
   
         <div class="reportedBy">
           <h5 class="labelInput">Reported By :</h5> <span class="commentBody">{{reportedBy}}</span> 
         </div>
   
       </ng-template>
   
   
   
           <ng-container> 
             <button type="submit" [disabled]="!newIssueForm.form.valid" [ngClass]="{hideButton:hideSubmitButton}" class="btn mt-2 ">Save</button>
             <button type="button"  (click)="resetForm()" [ngClass]="{hideButton:hideSubmitButton}" class="btn mt-2 ">Reset</button>
           </ng-container>
       </form>
   </div>